/Release/
/Output/
/mass0.gr
/mass1.gr
/mass2.gr
/test.gr
/p_eatenCalorie.gr
/p_mass.gr
/p_mass1Calorie.gr
/p_massCalorie.csv
/p_massCalorie.gr
/p_massCalorie.txt
/p_massCalorie.xlsx
/p_calorie.gr
/p_calorieWeek.gr
/p_c0.gr
/p_calorieAvg.gr
/p_deltamass.gr
/p_massCalorie1.txt
/p_massCalorie61.txt
/potato.gr
